.header-notes{
    width: 100%;
    display:flex;
    border-bottom: 1px solid white;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom:5px;
    padding-left:10px;
    .product-name
    {
        display:flex;
        align-items: center;
        color: rgb(255, 255, 255);
        font-weight:400;
        font-size: 18px;

        .drink-icon{
            margin-left: 10px;
            color:#E88643;
            height:30px;
            width:30px;
        }
    }
    .product-description
    {
        padding-left:10px;
        display:flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: left;
        font-weight:400;
        font-size: 12px;
        width:70%;
        overflow-y: hidden;
        scrollbar-width: none;
        -ms-overflow-style: none;   
    }
    .product-description::-webkit-scrollbar {
        display: none;
    }
}