.header-notes{
    position: sticky;
    width: 100%;
    display:flex;
    border-bottom: 1px solid white;
    align-items: left;
    justify-content: left;
    flex-direction: row;
    margin-top: -5%;
    .product-name
    {
        color: rgb(255, 255, 255);
        position: sticky;
        text-align: left;
        font-weight:400;
        left: 5%;
        padding-left: 3%;
        padding-top: 10%;
        width: 10%;
        font-size: 18px;
    }
    .product-description
    {
        display: flex;
        color: white;
        text-align: center;
        position:relative;
        font-weight:400;
        font-size: 12px;
        padding-top: 10%;
        padding-left: 5%;
        left: 5%;
    }
    .drink-icon{
        display: float;
        position: sticky;
        color:#E88643;
        height:30px;
        width:30px;
        left: 20%;
        padding-left: 2%;
        padding-top: 10%;
    }
    
}