.item{
    position: sticky;
    height: 15px;
    padding: 20px 20px 0px;
    display:flex;
    padding:25px;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin:20px;
	height:30px;
    border-bottom: 1px solid #E88643;
    .item-info{
        align-self: center;
        padding-left: 5px;
        padding-right: 10%;
        .title{
            color: white;
            text-align: center;
            font-weight:500;
            font-size: 15px;
            padding-left: 5px;
            padding-right: 20%;
            
        }
        .description{
            color: gray;
            text-align: center;
            padding-left: 5px;
            padding-right: 20%;
            font-family: Roboto;
            font-style: normal;
            font-weight: 200;
            font-size: 14px;
            line-height: 16px;
            border:none;
            align-items: center;
            width: 100%;
        }
    }

    .price{
        padding-right: 25%; 
        align-content: left;   
        .price-icon{
            padding-top: 5px;
            display: float;
            position: fixed;
            color:#E88643;
            height:25px;
            width:25px;
            padding-right: 50%;
        }
        .price-value{
            align-self: right;
            color: white;
            text-align: center;
            height: auto;
            font-weight:200;
            font-size: 15px;
            padding-left: 300%;
        }
    }

    .info-button{
        display: float;
        position: fixed;
        color:#E88643;
        height:30px;
        width:30px;
        left: 80%;
        padding:10px;
    }
}