//rever label
.container{
  color:white;
  margin-top:0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 60%;

  .bill-total{
    background-color: rgba(0, 0, 0, 0);
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    margin:10px auto;
    border: solid #E88643;
    border-width: 0px 0px 1px;
    width: 90%;
    .label{
      font-family: Roboto;
      font-weight: normal;
      font-style: normal;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;
      text-align: center;
      text-transform: capitalize;
    }

    .row{
      width:100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
  }
 
  .col-r{
      width: 50%;
      padding-right: 5%;
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row;
      text-align: center;

  }

  .col-l{
      width: 50%;
      padding-left: 5%;
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      text-align: center;

  }

  .price-icon{
    color:#E88643;
    height:30px;
    width:20px;
  }
  }

  .new-order-container{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
}