.header{
    height: 50px;
    display:flex;
    padding:10px;
    align-items: center;
    justify-content: center;
    
    .back-button{
        display: float;
        position: fixed;
        color:#E88643;
        height:30px;
        width:30px;
        left: 3%;
        padding:10px;
    }

    .title
    {
        color: white;
        text-align: center;
        font-weight:400;
        font-size: 18px;
    }
}