.item-category{
    width: 90%;
    height: auto;
    display:flex;
    margin:20px auto;
    justify-content:space-evenly;
    flex-direction:column;
    .category-title{
        color: grey;
        text-align: left;
        font-weight:bold;
        font-family: Roboto;
        font-style: normal;
        font-size: 18px;
        padding-bottom: 20px;
        padding-left: 40px;
        border-bottom: 1px solid #E88643;
    }
    .item-list{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
}