.waiter-menu-container{
    color:white;
    display: flex;
    position: sticky;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top:1px;
    overflow-y: auto;
    width: 100%;
    align-items: center; 
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

  
.waiter-menu-list{
    width: 90%;
    display: flex;
    flex-direction: column; 
}


.item-search-menu{
        width: 100%;
}


.variable-height{
    height: 100%;
  }
