
@media (max-height: 900px)
{
    .scroll-container{
        height: 200px;
    }
}

@media (min-height: 900px)
{
    .scroll-container{
        height: 380px;
    }
}
.scroll-container {
    overflow-y: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column; 
    scrollbar-width: none;
    -ms-overflow-style: none;   
    
}
.scroll-container::-webkit-scrollbar {
    display: none;
}